<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table class="table">
    <thead>
    <th>Title</th>
    <th class="text-center">Category</th>
    </thead>
    <tbody>
    <tr th:each="student : ${appliedStudents}">
        <td th:text="${student.getFirstName()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>