<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

</head>
<body>
<table>
    <thead>
    <th>Programme Requirment Description</th>
    <th>Programme Requirement answer needs to be...</th>
    </thead>
    <tbody>
    <tr th:each="req : ${programme}">
        <td th:text="${req.getDescription()}"></td>
        <td th:text="${req.isAnswer()? 'Yes' : 'No'}"></td>
    </tr>
    </tbody>
</table>
<table>
    <thead>
    <th>Student Requirement Description</th>
    <th>What is Student answer?</th>
    </thead>
    <tbody>
    <tr th:each="req : ${students}">
        <td th:text="${req.getDescription()}"></td>
        <td th:text="${req.isAnswer()? 'Yes' : 'No'}"></td>
    </tr>
    </tbody>
</table>
<table>
    <thead>
    <th>Requirment Description</th>
    <th>Does student meet this requirement?</th>
    </thead>
    <tbody>
    <tr th:each="req : ${requirementMatch}">
        <td th:text="${req.getDescription()}"></td>
        <td th:text="${req.isAnswer()? 'Yes' : 'No'}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>