<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 ">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error - 404</title>
    <link rel="icon" href="../images/favicon.ico">
    <!-- jQuery UI -->
    <link rel="stylesheet" type="text/css" href="../css/jquery/jquery-ui.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css">
    <!-- Owl-coursel -->
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.transitions.css">
    <!-- Font-awesome -->
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="../css/animate.css">
    <!-- Fw -->
    <link rel="stylesheet" type="text/css" href="../css/fw.css">
    <!-- Style-->
    <link rel="stylesheet" type="text/css" href="../css/style/finder.css">
</head>
<body>
<div class="preloader"><i class="fa fa-spinner"></i></div>
<!-- START of ALL MENUS -->

<!-- Start of SIDE MENU BAR -->
<div th:replace="html/base_fragments :: side_menu_bar"></div>
<!-- End of SIDE MENU BAR -->

<header class="header-absolute smaller">

    <!-- Start of TOP HEADER MENU -->
    <div th:replace="html/base_fragments :: top_header_menu"></div>
    <!-- End of TOP HEADER MENU -->

    <!-- Start of MAIN MENU BAR - ADMIN -->
    <div th:replace="html/base_fragments :: main_menu_bar"></div>
    <!-- End of MAIN MENU BAR -->
</header>

<!-- END of ALL MENUS -->


<section class="block">
    <div class="container">
        <div class="box text-center p-t-100 p-b-100 p-xs-20 m-b-0">
            <h2 class="f-60 f-xs-30 f-bold text-uppercase f-family-poppins p-b-10 p-t-0 color-4f84c4 line-default">Error 404</h2>
            <h2 class="f-30 p-t-0 f-weight-400">Page Not Found</h2>
        </div>
        <div></div>
    </div>
</section>

<!-- START of FOOTER -->
<div th:replace="html/base_fragments :: footer"></div>
<!-- End of FOOTER -->


<!-- jQuery -->
<script src="../js/jquery/jquery-2.2.4.min.js"></script>
<!-- Bootstrap -->
<script src="../js/bootstrap/bootstrap.min.js"></script>
<!-- Owl-coursel -->
<script src="../js/owl-coursel/owl.carousel.js"></script>
<!-- Classie -->
<script src="../js/classie.js"></script>
<!-- Script -->
<script src="../js/script.js"></script>
</body>
</html>