<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 ">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Information Technology Institute</title>
    <link rel="icon" href="../images/favicon.ico">
    <!-- jQuery UI -->
    <link rel="stylesheet" type="text/css" href="../css/jquery/jquery-ui.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css">
    <!-- Owl-coursel -->
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.transitions.css">
    <!-- Font-awesome -->
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="../css/animate.css">
    <!-- Fw -->
    <link rel="stylesheet" type="text/css" href="../css/fw.css">
    <!-- Style-->
    <link rel="stylesheet" type="text/css" href="../css/style/finder.css">
</head>
<body>


<!-- START of ALL MENUS -->

<!-- Start of SIDE MENU BAR -->
<div th:replace="html/base_fragments :: side_menu_bar"></div>
<!-- End of SIDE MENU BAR -->

<header class="header-absolute smaller">

    <!-- Start of TOP HEADER MENU -->
    <div th:replace="html/base_fragments :: top_header_menu"></div>
    <!-- End of TOP HEADER MENU -->

    <!-- Start of MAIN MENU BAR - ADMIN -->
    <div th:replace="html/base_fragments :: main_menu_bar"></div>
    <!-- End of MAIN MENU BAR -->
</header>

<!-- END of ALL MENUS -->



<section class="block">
    <div class="container">
        <div class="title-group line-default">
            <h1>Information Technology Institute</h1>
            <p>Brought to you by Workforce Development & Continuing Education by Montgomery College.</p>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="box p-30">
                    <div>
                        <h2 class="f-20 p-b-10">PURPOSE</h2>
                        <p>WD&CE's Information Technology Institute has a wide variety of noncredit, hands-on computer training classes ranging from very basic computer skills to advanced computer certification classes. Classes are offered in Microsoft Office Skills, Business Applications, Graphics and Publishing, Web Internet and Social Media, Programming Languages, Relational Databases, CISCO, Cyber Security, Microsoft Networking Certification classes and more.</p>
                        <h2 class="f-20 p-b-10">Customized Contract Training</h2>
                        <p>Does your business need computer training? Most of these classes are also available as Customized Contract Training for your business or organization. Contact Alton Henley Jr., Senior Program Director, for more information. <br/>
                            <strong>Phone</strong> 240-567-3826<br/>
                            <strong>Email:</strong> <a href="@mailto:Alton.Henley@montgomerycollege.edu">Alton.Henley@montgomerycollege.edu</a></p>
                        <h2 class="f-20 p-b-10">Where Do I Begin?</h2>
                        <p>Not sure where to start? Want more information about our ITI Information Technology Institute computer classes. Not sure where to start or what Career Path to take? Visit our <a href="faqs">FAQS</a>.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4"><!-- Product-item -->
                <div class="box p-30 p-l-40 p-r-40 selected">
                    <div class="row">
                        <div class="col-sm-12 p-5 text-align-center">
                            <p><strong>ITI Course Catalog</strong></p>
                            <div class="p-20 border-1x rad-3 bg-f"><a href="http://www2.montgomerycollege.edu/departments/wdce/brochures/iti.pdf" target="_blank"><img src="../images/iti-sp2018.png" alt="image" class="w-full"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- START of FOOTER -->
<div th:replace="html/base_fragments :: footer"></div>
<!-- End of FOOTER -->

<!-- jQuery -->
<script src="../js/jquery/jquery-2.2.4.min.js"></script>
<!-- Bootstrap -->
<script src="../js/bootstrap/bootstrap.min.js"></script>
<!-- Owl-coursel -->
<script src="../js/owl-coursel/owl.carousel.js"></script>
<!-- Classie -->
<script src="../js/classie.js"></script>
<!-- Script -->
<script src="../js/script.js"></script>
</body>
</html>