<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 ">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List of All Applicants</title>
    <link rel="icon" href="../images/favicon.ico">
    <!-- jQuery UI -->
    <link rel="stylesheet" type="text/css" href="../css/jquery/jquery-ui.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css">
    <!-- Owl-coursel -->
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.transitions.css">
    <!-- Font-awesome -->
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">


    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="../css/animate.css">
    <!-- Fw -->
    <link rel="stylesheet" type="text/css" href="../css/fw.css">
    <!-- Style-->
    <link rel="stylesheet" type="text/css" href="../css/style/finder.css">
</head>
<body>
<div class="preloader"><i class="fa fa-spinner"></i></div>

<!-- START of ALL MENUS -->

<!-- Start of SIDE MENU BAR -->
<div th:replace="html/base_fragments :: side_menu_bar"></div>
<!-- End of SIDE MENU BAR -->

<header class="header-absolute smaller">

    <!-- Start of TOP HEADER MENU -->
    <div th:replace="html/base_fragments :: top_header_menu"></div>
    <!-- End of TOP HEADER MENU -->

    <!-- Start of MAIN MENU BAR - ADMIN -->
    <div th:replace="html/base_fragments :: main_menu_bar"></div>
    <!-- End of MAIN MENU BAR -->
</header>

<!-- END of ALL MENUS -->
<section class="block-2 job bg-fa selected">
    <div class="container">
        <div class="title-group line-default">
            <h4><a  th:text="${counthit}"></a>Applicants for Hiring In Tech</h4>
            <h4><a  th:text="${countptf}">Applicants for Promising The Future</a></h4>
            <h4><a  th:href="@{/accepted_students_ptf}">Accepted for Promising The Future</a></h4>
            <h4><a  th:href="@{/accepted_students_hit}">Accepted for Hiring in Tech</a></h4>

            <!--Need java controller based counter for userlist that passes userrepo.findall model size (# of all users)-->
            <!--<span th:each="user,iterationStatus  : ${userlist}">-->
<!-- -            <h1 th:text="${iterationStatus.size}"></h1>-->
<!-- -                                </span>-->
            <h2>All Applicants</h2>
        </div>
        <div class="row" >
            <div class="col-md-14" th:each="user : ${userlist}" ><!-- Blog-item -->
                <div class="box-item">
                    <div class="row">
                        <div class="col-sm-2 text-center">
                            <a href="#" class="thumb-img"><img src="../images/default.png" alt="image"></a>
                        </div>
                        <div class="col-sm-10">
                            <h3 class="heading p-b-0 p-t-0" th:text="${user.firstName}">
                            </h3>
                            <h5 class="f-weight-300 p-t-10 p-b-10">PHP Developer</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing elit sed do</p>
                            <div class="f-weight-400">Skill: <span class="color-9">PHP, My Sql, HTML5, CSS3, Javascript</span></div>
                        </div>
                    </div>
                    <div class="border-1x p-10 m-t-15 bg-f">
                        <div class="row color-9">
                            <div class="col-sm-6 text-center">
                                <div class="p-2"><i class="fa fa-desktop m-r-5"></i><strong>Hiring for Tech</strong></div>
                                <!--<div class="p-5"><i></i>Eligible</div>-->
                                <!--<div class="p-5"><i></i>Applied</div>-->
                                <div class="p-5"><i ></i><span th:text="${user.englishStatus} + ' '" ><span></span></span>English Language Learner </div>
                                <div class="p-5"><i></i><span th:text="${user.employmentStatus}+ ' '" ><span></span></span>Employment Status</div>
                                <div class="p-5"><i></i><span th:text="${user.underemploymentStatus}+ ' '" ><span></span></span>Underemployment Status </div>
                                <div class="p-5"><i></i><span th:text="${user.itcareerInterest}+ ' '" ><span></span></span>It Career Interest </div>
                                <div class="p-5"><i></i><span th:text="${user.diplomaStatus}+ ' '" ><span></span></span>Has Diploma or GED </div>
                                <div class="p-5"><i></i><span th:text="${user.usworkAuth}+ ' '" ><span></span></span>Authorized US Worker</div>
                                        </div>
                            <div class="col-sm-6 text-center">
                                <div class="p-2"><i class="fa fa-desktop m-r-5"></i><strong>Promising the Future</strong></div>
                                <div class="p-5"><i></i><span th:text="${user.understandOOP}+ ' '" ><span></span></span>Understand OOP </div>
                                <div class="p-5"><i></i><span th:text="${user.Able2WorkUS}+ ' '" ><span></span></span>Able US Worker</div>
                                <div class="p-5"><i></i><span th:text="${user.objectoritentedExperience}+ ' '" ><span></span></span>Basic Obj Oritened Experience </div>
                                <div class="p-5"><i></i><span th:text="${user.major}+ ' '" ><span></span></span>College Major</div>
                                <div class="p-5"><i></i><span th:text="${user.salary}+ ' '" ><span></span></span><span></span>Salary</div>
                                <div class="p-5"><i></i><span th:text="${user.gradYear}+ ' '" ><span></span></span>Grad Year</div>
                            </div>
                            </div>

                            <h3 class="heading p-b-10 p-t-0">
                                <a th:href="@{/applicant_resume/{id}(id=${user.id})}">See Resume</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="bg-2">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 m-b-xs-30">
                    <img src="../images/mt-0996-logo.png" alt="image" class="w-50">
                    <h2 class="color-f f-30 f-xs-20 f-family-poppins f-weight-500">JOB SEEKER, Inc</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing</p>
                    <ul class="list-inline m-t-20">
                        <li><a href="#"><i class="fa fa-facebook icon icon-40 rad-3 bg-4f84c4"></i></a></li>
                        <li><a href="#"><i class="fa fa-google icon icon-40 rad-3 bg-f2552c"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter icon icon-40 rad-3 bg-95dee3"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram icon icon-40 rad-3 bg-fe718b"></i></a></li>
                    </ul>
                </div>
                <div class="col-sm-2 m-t-60 m-t-xs-30">
                    <h4>Infomation</h4>
                    <ul class="list">
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Licenses</a></li>
                        <li><a href="#">Post a job</a></li>
                        <li><a href="#">Create a resume</a></li>
                    </ul>
                </div>
                <div class="col-sm-2 m-t-60 m-t-xs-30">
                    <h4>Community</h4>
                    <ul class="list">
                        <li><a href="#">Help center</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Carrer advide</a></li>
                        <li><a href="#">Specials</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 m-t-60 m-t-xs-30">
                    <h4>Newsletter</h4>
                    <input type="text" class="form-item no-border m-t-5" placeholder="Enter your email">
                    <a href="#" class="ht-btn bg-4f84c4 m-t-30">Subscribe</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom bg-1">
        <div class="container">
            <p>© 2017 Designed by <a href="#" class="color-9">t3theme</a>. All rights reserved</p>
        </div>
    </div>
</footer>
<!-- jQuery -->
<script src="../js/jquery/jquery-2.2.4.min.js"></script>
<!-- Bootstrap -->
<script src="../js/bootstrap/bootstrap.min.js"></script>
<!-- Owl-coursel -->
<script src="../js/owl-coursel/owl.carousel.js"></script>
<!-- Classie -->
<script src="../js/classie.js"></script>
<!-- Script -->
<script src="../js/script.js"></script>
</body>
</html>