<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 ">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Status of HiT Applicants</title>
    <link rel="icon" href="../images/favicon.ico">
    <!-- jQuery UI -->
    <link rel="stylesheet" type="text/css" href="../css/jquery/jquery-ui.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css">
    <!-- Owl-coursel -->
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.transitions.css">
    <!-- Font-awesome -->
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">


    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="../css/animate.css">
    <!-- Fw -->
    <link rel="stylesheet" type="text/css" href="../css/fw.css">
    <!-- Style-->
    <link rel="stylesheet" type="text/css" href="../css/style/finder.css">
</head>
<body>
<div class="preloader"><i class="fa fa-spinner"></i></div>

<!-- START of ALL MENUS FOR ADMIN -->

<!-- Start of SIDE MENU BAR -->
<div th:replace="html/base_fragments :: side_menu_bar_admin"></div>
<!-- End of SIDE MENU BAR -->

<header class="header-absolute smaller">

    <!-- Start of TOP HEADER MENU -->
    <div th:replace="html/base_fragments :: top_header_menu_admin"></div>
    <!-- End of TOP HEADER MENU -->

    <!-- Start of MAIN MENU BAR - ADMIN -->
    <div th:replace="html/base_fragments :: main_menu_bar_admin"></div>
    <!-- End of MAIN MENU BAR -->
</header>

<!-- END of ALL MENUS FOR ADMIN -->


<div class="text-align-center">
    <h1>Applicants for <a href="apply_hit.html">Hiring In Tech</a></h1>
    <h2>
        <a href="#applicants">Applied</a> |
        <a href="#accepted">Accepted</a> |
        <a href="#instructors">Instructors</a> |
    </h2>
</div>

<section class="block-2 job bg-fa selected">
    <div class="container">
        <div class="title-group line-default">
            <h3><a name="applicants">2,547 Applicants</a></h3>
        </div>
        <div class="row">
            <div class="col-md-14"><!-- Blog-item -->
                <div class="box-item">
                    <div class="row">
                        <div class="col-sm-2 text-center">
                            <a href="/applicant_resume" class="thumb-img"><img src="../images/default.png" alt="image"></a>
                        </div>
                        <div class="col-sm-8">
                            <h3 class="heading p-b-0 p-t-0">
                                <a href="/applicant_resume">John Anderson</a>
                            </h3>
                            <h5 class="f-weight-300 p-t-10 p-b-10">PHP Developer</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing elit sed do</p>
                        </div>
                            <div class="col-sm-2 text-center">
                                <br/>
                                <div class="p-2"><i class="fa fa-desktop m-r-5"></i><strong>Hiring for Tech</strong></div>
                                <div class="p-5"><i class="fa fa-check m-r-5"></i>Eligible</div>
                            </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="block-2 job bg-fa selected">
    <div class="container">
        <div class="title-group line-default">
            <h3><a name="accepted">2,000 Accepted</a></h3>
        </div>
        <div class="row">
            <div class="col-md-14"><!-- Blog-item -->
                <div class="box-item">
                    <div class="row">
                        <div class="col-sm-2 text-center">
                            <a href="/applicant_resume" class="thumb-img"><img src="../images/default.png" alt="image"></a>
                        </div>
                        <div class="col-sm-8">
                            <h3 class="heading p-b-0 p-t-0">
                                <a href="/applicant_resume">John Anderson</a>
                            </h3>
                            <h5 class="f-weight-300 p-t-10 p-b-10">PHP Developer</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing elit sed do</p>
                        </div>
                        <div class="col-sm-2 text-center">
                            <br/>
                            <div class="p-2"><i class="fa fa-desktop m-r-5"></i><strong>Hiring for Tech</strong></div>
                            <div class="p-5"><i class="fa fa-check m-r-5"></i>Approved</div>
                            <div class="p-5"><i class="fa fa-check m-r-5"></i>Accepted</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="block-2 job bg-fa selected">
    <div class="container">
        <div class="title-group line-default">
            <h3><a name="instructors">2 Instructors </a></h3>
        </div>
        <div class="row">
            <div class="col-md-14"><!-- Blog-item -->
                <div class="box-item">
                    <div class="row">
                        <div class="col-sm-2 text-center">
                            <a href="/applicant_resume" class="thumb-img"><img src="../images/default.png" alt="image"></a>
                        </div>
                        <div class="col-sm-10">
                            <h3 class="heading p-b-0 p-t-0">
                                <a href="/applicant_resume">John Anderson</a>
                            </h3>
                            <h5 class="f-weight-300 p-t-10 p-b-10">PHP Developer</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing elit sed do</p>
                            <div class="f-weight-400">Skill: <span class="color-9">PHP, My Sql, HTML5, CSS3, Javascript</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- START of FOOTER -->
<div th:replace="html/base_fragments :: footer"></div>
<!-- End of FOOTER -->



<!-- jQuery -->
<script src="../js/jquery/jquery-2.2.4.min.js"></script>
<!-- Bootstrap -->
<script src="../js/bootstrap/bootstrap.min.js"></script>
<!-- Owl-coursel -->
<script src="../js/owl-coursel/owl.carousel.js"></script>
<!-- Classie -->
<script src="../js/classie.js"></script>
<!-- Script -->
<script src="../js/script.js"></script>
</body>
</html>