<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 ">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Applicant Resume</title>
    <link rel="icon" href="../images/favicon.ico">
    <!-- jQuery UI -->
    <link rel="stylesheet" type="text/css" href="../css/jquery/jquery-ui.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css">
    <!-- Owl-coursel -->
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.transitions.css">
    <!-- Font-awesome -->
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="../css/animate.css">
    <!-- Fw -->
    <link rel="stylesheet" type="text/css" href="../css/fw.css">
    <!-- Style-->
    <link rel="stylesheet" type="text/css" href="../css/style/finder.css">
</head>
<body>
<div class="preloader"><i class="fa fa-spinner"></i></div>

<!-- START of ALL MENUS -->

<!-- Start of SIDE MENU BAR -->
<div th:replace="html/base_fragments :: side_menu_bar"></div>
<!-- End of SIDE MENU BAR -->

<header class="header-absolute smaller">

    <!-- Start of TOP HEADER MENU -->
    <div th:replace="html/base_fragments :: top_header_menu"></div>
    <!-- End of TOP HEADER MENU -->

    <!-- Start of MAIN MENU BAR - ADMIN -->
    <div th:replace="html/base_fragments :: main_menu_bar"></div>
    <!-- End of MAIN MENU BAR -->
</header>

<!-- END of ALL MENUS -->

<section class="block">
    <div class="container selected">
        <div class="title-group">
            <h1  th:text="${user.firstName}">john anderson</h1>
            <h3 class="color-6 f-normal">Java Software Engineer</h3>
            <div class="wrap-img"><img src="../images/default2.png" alt="image" class="w-full"></div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="p-30 bg-f box-shadow-d">
                    <h2 class="f-20 p-b-10 p-t-0">Program(s) Requirements</h2>
                <div>
                    <div class="col-md-6 text-center">
                        <div class="f-10 p-b-10"><i class="fa fa-desktop m-r-5"></i><strong>Hiring for Tech</strong></div>
                        <div class="p-5"><i class="fa fa-check m-r-5"></i>Eligible</div>
                        <div class="p-5"><i class="fa fa-check m-r-5"></i>Applied</div>
                        <div class="p-5"><i class="fa fa-check m-r-5"></i>English Language Learner</div>
                        <div class="p-5"><i class="fa fa-check m-r-5"></i>Unemployed</div>
                        <div class="p-5"><i class="fa fa-check m-r-5"></i>Underemployed</div>
                        <div class="p-5"><i class="fa fa-check m-r-5"></i>Authorized U.S. Worker</div>
                        <div class="p-5"><i class="fa fa-check m-r-5"></i>Basic Computer Literacy</div>
                        <div class="p-5"><i class="fa fa-check m-r-5"></i>Have Strong Interest in IT Career</div>
                        <div class="p-5"><i class="fa fa-check m-r-5"></i>High School Diploma/GED Status</div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="f-10 p-b-10"><i class="fa fa-desktop m-r-5"></i><strong>Promising the Future</strong></div>
                        <div class="p-5"><i class="fa fa-times m-r-5"></i>Not Eligible</div>
                        <div class="p-5"><i class="fa fa-times m-r-5"></i>Did Not Apply</div>
                        <div class="p-5"><i class="fa fa-check m-r-5"></i>Basic Object-Oriented Experience</div>
                        <div class="p-5"><i class="fa fa-check m-r-5"></i>Major in Computer Science/Information Systems</div>
                        <div class="p-5"><i class="fa fa-check m-r-5"></i>Graduated within the last 6 years</div>
                        <div class="p-5"><i class="fa fa-check m-r-5"></i>Earning Less Than $42,000</div>
                        <div class="p-5"><i class="fa fa-check m-r-5"></i>Authorized U.S. Worker</div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                    </div>
                </div>
                    <br/>
                    <h2 class="f-20 p-b-10 p-t-0">About Me</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing elit sed do eiusmod temp incidunt ut labomet icing elit sed do eiusmod temp incidunt ut labomet co</p>
                    <ul class="list-2x list-n-bg">
                        <li><strong>Age</strong>28</li>
                        <li><strong>Email</strong>john.info@gmail.com</li>
                        <li><strong>Phone</strong>0123 456 789</li>
                        <li><strong>Address</strong>San Antonio, Texas, US</li>
                        <li><strong>Website</strong>www.theme3x.com</li>
                    </ul>
                    <h2 class="f-20 p-b-10">Education</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing elit sed do eiusmod temp incidunt ut labomet icing elit sed do eiusmod temp incidunt ut labomet co</p>
                    <h2 class="f-20 p-b-10">Qualifications</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing elit sed do eiusmod temp incidunt ut labomet icing elit sed do eiusmod temp incidunt ut labomet co</p>
                    <h2 class="f-20 p-b-10">Employment History</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing elit sed do eiusmod temp incidunt ut labomet icing elit sed do eiusmod temp incidunt ut labomet co</p>
                    <h2 class="f-20 p-b-10">Awards</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing elit sed do eiusmod temp incidunt ut labomet icing elit sed do eiusmod temp incidunt ut labomet co</p>
                    <h2 class="f-20 p-b-10">Extracurricular Activities</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing elit sed do eiusmod temp incidunt ut labomet icing elit sed do eiusmod temp incidunt ut labomet co</p>
                    <h2 class="f-20 p-b-10">Work Experience</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing elit sed do eiusmod temp incidunt ut labomet icing elit sed do eiusmod temp incidunt ut labomet co</p>
                    <h2 class="f-20 p-b-10">Competenciens &amp; Interests<br></h2>
                    <ul class="list-1x ln m-l-35">
                        <li>Interest in user interface design.</li>
                        <li>Web application development experience.</li>
                        <li>Experience working on cross-browser platforms.</li>
                        <li>Development experience designing object-oriented JavaScript.</li>
                        <li>Experience with user interface frameworks such as XUL, Flex and XAML.</li>
                        <li>Knowledge of user interface design.</li>
                    </ul>
                </div>
                <section>
                    <div class="col-sm-6 text-center">
                        <button type="submit" class="ht-btn ht-btn-2x rad-4 text-center m-t-10 bg-4f84c4">APPROVE</button>
                    </div>
                    <div class="col-sm-6 text-center">
                        <button type="submit" class="ht-btn ht-btn-2x rad-4 text-center m-t-10 bg-4f84c4">DENY</button>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <h3 class="heading p-b-10 p-t-0" th:if="${user != null}">
        <a th:href="@{/approvehit/{id}(id=${user.id})}">Approve Hit</a>
    </h3>
    <h3 class="heading p-b-10 p-t-0" th:if="${user == null}">
        <a>Denied</a></h3>
</section>


<!-- START of FOOTER -->
<div th:replace="html/base_fragments :: footer"></div>
<!-- End of FOOTER -->


<!-- jQuery -->
<script src="../js/jquery/jquery-2.2.4.min.js"></script>
<!-- Bootstrap -->
<script src="../js/bootstrap/bootstrap.min.js"></script>
<!-- Owl-coursel -->
<script src="../js/owl-coursel/owl.carousel.js"></script>
<!-- Classie -->
<script src="../js/classie.js"></script>
<!-- Script -->
<script src="../js/script.js"></script>
</body>
</html>