<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 ">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apply for Hiring In Tech</title>
    <link rel="icon" href="../images/favicon.ico">
    <!-- jQuery UI -->
    <link rel="stylesheet" type="text/css" href="../css/jquery/jquery-ui.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css">
    <!-- Owl-coursel -->
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.transitions.css">
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.transitions.css">
    <!-- Font-awesome -->
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="../css/animate.css">
    <!-- Fw -->
    <link rel="stylesheet" type="text/css" href="../css/fw.css">
    <!-- Style-->
    <link rel="stylesheet" type="text/css" href="../css/style/finder.css">
</head>
<body>
<div class="preloader"><i class="fa fa-spinner"></i></div>

<!-- START of ALL MENUS -->

<!-- Start of SIDE MENU BAR -->
<div th:replace="html/base_fragments :: side_menu_bar"></div>
<!-- End of SIDE MENU BAR -->

<header class="header-absolute smaller">

    <!-- Start of TOP HEADER MENU -->
    <div th:replace="html/base_fragments :: top_header_menu"></div>
    <!-- End of TOP HEADER MENU -->

    <!-- Start of MAIN MENU BAR - ADMIN -->
    <div th:replace="html/base_fragments :: main_menu_bar"></div>
    <!-- End of MAIN MENU BAR -->
</header>

<!-- END of ALL MENUS -->


<!--<section class="p-t-50 p-b-0 bg-f">-->
    <!--<div class="container">-->
        <!--<div class="p-40 p-xs-20 bg-4f84c4">-->
            <!--<div class="rad-0 w-full no-bg">-->
                <!--<div class="row m-0">-->
                    <!--<div class="col-sm-11 p-5 p-t-0">-->
                        <!--<div class="row m-0">-->
                            <!--<div class="col-sm-8 p-5"><input type="text" class="form-item form-item-3x no-border m-b-0 rad-3 p-l-20" placeholder="What job you are looking for?"></div>-->
                            <!--<div class="col-sm-4 p-5"><input type="text" class="form-item form-item-3x no-border m-b-0 rad-3 p-l-20" placeholder="City, provide, street"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-sm-1 p-5 p-l-0 p-xs-10">-->
                        <!--<button class="ht-btn ht-btn-3x bg-dc4c46 pull-right text-center p-l-25 p-r-25 m-t-0 rad-3 w-full" type="submit"><i class="fa fa-search"></i></button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="max-w-900"></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
<section class="block">
    <div class="container">
        <div class="title-group line-default">
            <h1>Hiring in Tech</h1>
            <h3><a href="http://www.montgomerycollege.edu/" target="_blank">Montgomery College</a></h3>
            <!--<p class="under-line p-b-20">Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna</p>-->
            <ul class="list-inline m-t-20">
                <li><a href="https://www.facebook.com/montgomerycollege/" target="_blank"><i class="fa fa-facebook icon icon-40 rad-3 bg-4f84c4"></i></a></li>
                <li><a href="https://www.linkedin.com/school/montgomery-college/" target="_blank"><i class="fa fa-linkedin icon icon-40 rad-3 bg-f2552c"></i></a></li>
                <li><a href="https://twitter.com/montgomerycoll?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa fa-twitter icon icon-40 rad-3 bg-95dee3"></i></a></li>
                <li><a href="https://www.instagram.com/montgomerycollege/" target="_blank"><i class="fa fa-instagram icon icon-40 rad-3 bg-fe718b"></i></a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="box-item p-30 box-shadow-d">
                    <h3 class="f-20">Basic Information</h3>
                    <ul class="list-2x list-n-bg">
                        <p>Hiring in Tech is a new U.S. Department of Labor grant-funded training program for those interested in careers in computers and Information Technology (IT). Based on your skills, experience, and English level, you may be able to enter one or more tracks that will help you further your education and training and find a job.</p>

                        <li><strong>PROGRAM TITLE:</strong>Hiring In Tech, Information Technology Training Program</li>
                        <li><strong>ADDRESS: </strong>51 Mannakee Street, Rockville, MD 20850</li>
                        <li><strong>TERM: </strong>Varies</li>
                        <li><strong>CONTACT:</strong><a href="@mailto:techhire@montgomerycollege.edu">techhire@montgomerycollege.edu</a></li>
                        <li><strong>PREREQUISITES:</strong>Must attend an orientation session</li>
                        <li><strong>REQUIREMENTS:</strong><br/>
                            <ul>
                                <li>English Language Learner</li>
                                <li>Unemployed with barriers to employment</li>
                                <li>Underemployment with barriers to better employment</li>
                            </ul>
                        </li>
                        <li><strong>ADDITIONAL REQUIREMENTS:</strong><br/>
                            <ul>
                                <li></li>
                                <li>Be comfortable using computers for everyday purposes</li>
                                <li>Have a strong interest in an IT career</li>
                                <li>Have a high school diploma or GED®</li>
                                <li>Be legally authorized to work in the U.S.</li>
                                <li>Be able to increase your income or job stability through the program.</li>
                            </ul>
                        </li>
                        <li><strong>PROGRAM TRACKS:</strong><br/>
                            <ul>
                                <li><strong>Intensive Coaching:</strong><br/>
                                    This is for people with IT skills and experience, a high English level, and who are ready to look for a job right away.
                                </li>
                                <li><strong>Short-Term Training:</strong><br/>
                                    This is for people who need more help with English and IT skills and who are ready to complete classes that will last from up to 6 months. These classes will help you earn certificates to start or advance a career in the IT field.
                                </li>
                                <li><strong>Long-Term Training:</strong><br/>
                                    This is for people who have a high level of English and basic skills and are ready to enter credit classes for longer training at the College, or for those who are already enrolled in those classes.
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <a href="#" class="ht-btn bg-00c400 m-t-20 m-b-20 m-r-15">Apply for this job</a>
                    <!--<a href="#" class="ht-btn bg-4f84c4 m-t-20 m-b-20">Save</a>-->

                </div>
            </div>
            <div class="col-md-5"><!-- Product-item -->
                <div class="box-item p-30 box-shadow-d">
                    <img src="../images/log7.png" alt="image" class="m-b-10 w-50">
                    <h2 class="f-30 f-xs-20 p-0">Hiring In Tech</h2>
                    <div><span class="color-a f-14">Last updated: January 23 2018</span></div>
                    <ul class="list-inline m-t-5">
                        <li><i class="fa fa-star color-feda00"></i><i class="fa fa-star m-l-5 color-feda00"></i><i class="fa fa-star m-l-5 color-feda00"></i><i class="fa fa-star m-l-5 color-feda00"></i><i class="fa fa-star m-l-5 color-a"></i></li>
                    </ul>
                    <ul class="list list-1x m-t-20">
                        <li><strong>Founded</strong>2017</li>
                        <li><strong>Cohort Size</strong><span>10-20 </span></li>
                        <li><strong>Instructors</strong><span>2-3</span></li>
                        <li><strong>Industry</strong>Computer / IT services</li>
                    </ul>
                </div>
                <div class="box-item p-30 box-shadow-d">
                    <h3 class="p-t-0 text-center">Suggested Programs</h3>
                    <h5 class="p-t-0  text-center">Based on your profile, you should also apply to the following:</h5>
                    <hr/>
                    <div class="border-1x p-15 m-t-ab-1 m-b-15">
                        <h3 class="p-0 p-b-5 f-16 text-center"><a href="/apply_ptf" target="_blank">Promising the Future</a></h3>
                    </div>
                    <!--<a href="#" class="ht-btn m-t-20 bg-4f84c4">View all Jobs</a>-->
                </div>
                <div class="box-item p-30 box-shadow-d">
                    <div class="title-group line-default">
                        <h2>Testimonial</h2>
                        <p>Graduate of Winter 2017 Cohort</p>
                    </div>
                    <div class="testimonial-item text-center f-18 max-w-800">
                        <a href="#" class="icon icon-150 rad-500 overl p-0 bg-9 m-b-15"><img src="../images/kayleensantos.jpg" alt="image" class="w-full"></a>
                        <div class="testimonial-txt"><i class="fa fa-quote-left"></i>Hiring In Tech not only prepared me with the technical skills I needed for an IT job, it also taught me the soft skills needed to manage and work within a team.<i class="fa fa-quote-right"></i></div>
                        <p class="line"></p>
                        <p class="m-t-30"><strong>Kayleen Santos</strong><br/>IT Help Desk Technician for U.S. Government</p>
                    </div>
                    <!--<a href="#" class="ht-btn m-t-20 bg-4f84c4">View all Jobs</a>-->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- START of FOOTER -->
<div th:replace="html/base_fragments :: footer"></div>
<!-- End of FOOTER -->

<!-- jQuery -->
<script src="../js/jquery/jquery-2.2.4.min.js"></script>
<!-- Bootstrap -->
<script src="../js/bootstrap/bootstrap.min.js"></script>
<!-- Owl-coursel -->
<script src="../js/owl-coursel/owl.carousel.js"></script>
<!-- Classie -->
<script src="../js/classie.js"></script>
<!-- Script -->
<script src="../js/script.js"></script>
</body>
</html>