<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 ">
<head>
    <meta charset="UTF-8">
    <title>Base Fragments</title>
</head>
<body>

<div th:fragment="navlinks">
    <a href="/">Index</a> |
    <a href="/all_applicants">All Applicants</a> |
    <a href="/applicant_resume">Applicant's Resume</a> |
    <a href="/accepted_students_hit">List of Accepted Students for HiT</a> |
    <a href="/accepted_students_ptf">List of Accepted Students for PtF</a> |
    <a href="/list_of_programs">List of Programs</a> |
    <a href="/add_admin">Add Admin</a> |

</div>

</body>
</html>