<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 ">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FAQs for Information Technology Institute</title>
    <link rel="icon" href="../images/favicon.ico">
    <!-- jQuery UI -->
    <link rel="stylesheet" type="text/css" href="../css/jquery/jquery-ui.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css">
    <!-- Owl-coursel -->
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="../css/owl-coursel/owl.transitions.css">
    <!-- Font-awesome -->
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="../css/animate.css">
    <!-- Fw -->
    <link rel="stylesheet" type="text/css" href="../css/fw.css">
    <!-- Style-->
    <link rel="stylesheet" type="text/css" href="../css/style/finder.css">
</head>
<body>
<div class="preloader"><i class="fa fa-spinner"></i></div>

<!-- START of ALL MENUS -->

<!-- Start of SIDE MENU BAR -->
<div th:replace="html/base_fragments :: side_menu_bar"></div>
<!-- End of SIDE MENU BAR -->

<header class="header-absolute smaller">

    <!-- Start of TOP HEADER MENU -->
    <div th:replace="html/base_fragments :: top_header_menu"></div>
    <!-- End of TOP HEADER MENU -->

    <!-- Start of MAIN MENU BAR - ADMIN -->
    <div th:replace="html/base_fragments :: main_menu_bar"></div>
    <!-- End of MAIN MENU BAR -->
</header>

<!-- END of ALL MENUS -->



<section class="block">
    <div class="container">
        <div class="title-group line-default">
            <h1>Frequently Asked Questions<br/>for Information Technology Institute</h1>
            <p>These are Open Admissions, Noncredit Courses. There is no admission requirements for these courses, however some require prerequisite skills or training. No report cards are issued, but a Certificate of Completion will be issued to students who attend at least 80% of the course.</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box p-30">
                    <div>
                        <div>
                            <p><strong>Q. Who can enroll  in these classes?</strong><br/>
                                <strong> A.</strong> These are open enrollment classes geared to adults- you are welcome to enroll in any  class before it begins (if space is available) as long as you have the prerequisites  <em>(either by experience / previous training / classes, etc</em>). <strong>We do not test or check past skills but ask that students use their best judgment when deciding if they meet the prerequisites</strong>. These are fast paced / accelerated courses geared towards working adults who need to learn a product quickly. </p>
                            <p><strong>Q. Do I need to  apply to the college to take these classes?</strong><br/>
                                <strong>A.</strong> These are non-credit classes so applying to the college is not needed. </p>
                            <p><strong>Q. Is there  homework?</strong><br/>
                                <strong> A.</strong> Some classes may have independent assignments outside of the classroom  but grades and exams are not given.</p>
                            <p><strong>Q. Will I be  given a certificate?</strong><br/>
                                <strong> A.</strong> No report cards or grades are issued, but a <strong>Certificate of Completion</strong> will be  issued to students who attend at least 80% of the course.<strong> We do not offer or provide certification exams. </strong>    </p>
                            <p><strong>Q. Is there any  financial assistance for these classes?</strong><br/>
                                <strong> A.</strong>  Financial aid is not available for these classes. Full payment is expected at the time of registration.<br/>For specific question regarding<strong> payment / registration / residency  requirements / tuition waiver / transportation options / parking / scholarships </strong>please contact the main office for Continuing Education at  <strong>240-567-5188</strong>.</p>
                            <p><strong>Q. Are any scholarships available?</strong><br/>
                                <strong>A</strong>. Twice a year there is an opportunity to apply for the WD&amp;CE Career Path Scholarship. Visit<a href="http://www.montgomerycollege.edu/wdce/careerpathscholarship.html">Career Path WD&amp;CE Scholarship Opportunity</a> to learn more about eligibility guidelines, application dates, and application procedures. </p>
                            <p><strong>Q. Is there a Tuition Installment Plan (TIP)?</strong><br/>
                                <strong>A</strong>. The TIP <strong>may</strong> allow students to pay for a class or a series of classes in several installments. Students must register/pay for their class(es) Online through MYMC. Visit                 <a href="http://cms.montgomerycollege.edu/wdce/register/tip.html">Tuition Installment Plan (TIP)</a> to learn how to pay using the TIP, and to see if you may qualify. </p>
                            <p><strong>Q. Where can I find the current schedule of classes?</strong><br/>
                                <strong> A.</strong> All of our<strong> current</strong>/ in-classroom course  offerings with costs/days/times/locations are listed at our web site:                <br/>                       <a href="http://www.montgomerycollege.edu/wdce/" target="_blank">http://www.montgomerycollege.edu/wdce/</a>                <br/>        Click on<strong> Search for a Class</strong>, Click on <strong>Computer Technology/ITI</strong> to view all of our courses.                 <br/>        Then click on the class of  interest for detailed information.</p>
                            <p><strong>Q. How will I  know which class is best for me?</strong><br/>
                                <strong>A.</strong> To help you decide which class is best for you, detailed <strong>Course Objectives</strong> for some of our classes can be found at this  site:                <br/>                        <a href="http://cms.montgomerycollege.edu/iti/courseobjectives.html" target="_blank">http://cms.montgomerycollege.edu/iti/coned/coned_course_objectives.html</a>. <strong>We do not test or check past skills but ask that students use their best judgment when deciding if they meet the prerequisites</strong>. </p>
                            <p><strong>Q. Where can I get information about registration?</strong><br/>
                                <strong>A.</strong> Information regarding registration is at this site-<br/><a href="http://www.montgomerycollege.edu/wdce/" target="_blank" title="http://www.montgomerycollege.edu/wdce/"><strong>http://cms.montgomerycollege.edu/wdce/registerops.html</strong>        </a>                <br/>      </p>
                            <p><strong>Q. Where can I get information about class locations and directions?</strong><br/>A. All of our current course offering with costs / days / times / locations / prerequisites are listed at our web site:  Information regarding  directions / locations is at this site http                <a href="http://cms.montgomerycollege.edu/wdce/">://cms.montgomerycollege.edu/wdce/</a>.         Click on<em><strong> Search for a Class</strong></em>, 'click on <em><strong>Computer Technology/ITI </strong></em>to view all of our courses.  Then click on the class of interest for detailed information.</p>
                            <p><strong>Q. Are maps available to help me find my class location?</strong><br/>
                                <strong>A.</strong> Campus maps, and public transportation options are available at:<a href="http://cms.montgomerycollege.edu/maps" target="_blank" title="http://cms.montgomerycollege.edu/maps">http://cms.montgomerycollege.edu/maps</a>                <br/>      </p>
                            <p><strong>Q. Will I need to purchase a textbook?</strong><br/>
                                <strong> A.</strong> Most classes require a textbook. Information regarding books can be found  at this site:<br/><a href="http://cms.montgomerycollege.edu/wdce/bookstores.html" target="_blank" title="http://www.montgomerycollege.edu/iti/coned/coned_bookstore.htm">http://www.montgomerycollege.edu/wdce/bookstores.html</a>    </p>
                            <p><strong>Q. Do you offer Online classes?</strong><br/>
                                <strong>A.</strong> Another department offers noncredit on-line classes. Information regarding Online  classes is at this site:<br/><a href="http://www.montgomerycollege.edu/wdce/nconlinecourses.html" target="_blank" title="http://www.montgomerycollege.edu/wdce/nconlinecourses.html">http://cms.montgomerycollege.edu/wdce/nconlinecourses.html</a>    </p>
                            <p><strong>Q. Are there any  other departments that offer non-credit computer classes?</strong><br/>
                                <strong> A.</strong> Yes,  please consider these departments-</p><p><a href="http://www.montgomerycollege.edu/departments/giterv/workforce/index.html">http://www.montgomerycollege.edu/departments/giterv/workforce/index.html</a>    </p>              <p>                <a href="http://cms.montgomerycollege.edu/communityarts/">http://cms.montgomerycollege.edu/communityarts/</a>    </p>              <p>                <a href="http://www.montgomerycollege.edu/wdce/nconlinecourses.html">http://www.montgomerycollege.edu/wdce/nconlinecourses.html</a>    </p>
                            <p><strong>Q. What if I need  need support services due to a disability?</strong><br/>
                                <strong>A.</strong> Please follow these steps: Register for the class. contact <strong>WD&amp;CE Disability Support Services Counselor</strong>, Natalie Martinez,                 <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#110;&#97;&#116;&#97;&#108;&#105;&#101;&#46;&#109;&#97;&#114;&#116;&#105;&#110;&#101;&#122;&#64;&#109;&#111;&#110;&#116;&#103;&#111;&#109;&#101;&#114;&#121;&#99;&#111;&#108;&#108;&#101;&#103;&#101;&#46;&#101;&#100;&#117;">&#110;&#97;&#116;&#97;&#108;&#105;&#101;&#46;&#109;&#97;&#114;&#116;&#105;&#110;&#101;&#122;&#64;&#109;&#111;&#110;&#116;&#103;&#111;&#109;&#101;&#114;&#121;&#99;&#111;&#108;&#108;&#101;&#103;&#101;&#46;&#101;&#100;&#117;</a> or 240-567-4118, at least four weeks prior to the start of the class to arrange for accommodations and/or assistive technology.</p>
                            <p><strong>Q. What if I want more information about careers and job skills?</strong><br/>A. Information about the local job market can be found at Career Coach:                <a href="http://cms.montgomerycollege.edu/careercoach.html"> http://cms.montgomerycollege.edu/careercoach.html</a>    </p>              <p> </p>      </div>

                    </div>
                </div>
                <p class="f-weight-400 m-t-10">If your answer was not found here, <a href="contact" class="color-4f84c4">contact</a> us.</p>
            </div>
        </div>
    </div>
</section>


<!-- START of FOOTER -->
<div th:replace="html/base_fragments :: footer"></div>
<!-- End of FOOTER -->


<!-- jQuery -->
<script src="../js/jquery/jquery-2.2.4.min.js"></script>
<!-- Bootstrap -->
<script src="../js/bootstrap/bootstrap.min.js"></script>
<!-- Owl-coursel -->
<script src="../js/owl-coursel/owl.carousel.js"></script>
<!-- Classie -->
<script src="../js/classie.js"></script>
<!-- Script -->
<script src="../js/script.js"></script>
</body>
</html>